@CHARSET "UTF-8";

/*input[type=text] {
	text-transform: uppercase !important;
}*/

body{
	font-size: 10pt;
	font-weight:normal;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color:#e6ecf0;
}

textarea {
	text-transform: uppercase !important;
}

input[class=url] {
	text-transform: lowercase !important;
	font-style: italic !important;
	font-weight: bold !important;
}

input[class=email] {
	text-transform: lowercase !important;
	font-style: italic !important;
	font-weight: bold!important;
}

/*****************************************************************
 * CONTENEDOR
 ****************************************************************/
#contenedor {
	
}

/*****************************************************************
 * CABECERA
 ****************************************************************/
#cabecera {
	color: #000000;
	/* background: #ddd url(../img/bg.jpg) repeat top left; */
	border-top: #369 1px solid;
	border-bottom: #369 1px solid;
	/*height: 105px;*/
	width: 100%;
}

#cabecera #logoCabecera {
	float: left;
	/* background-image: url(../img/uce_logo.png); */
	background-repeat: no-repeat;
	background-position: left top;
	width: 153px;
	height: 96px;
	margin-top: 5px;
	margin-left: 5px;
}

#cabecera #nombreSistema {
	margin-top: 10px;
	margin-left: 20px;
	/*font-size: 16pt;
	font-weight: bold; */
	font-size: 28px;
	line-height: 38px;
	/* margin: 0; */
	/* position: relative; */
	font-weight: 300;
	color: #666;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
	text-align: middle;
}

#cabecera #finCabecera {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	text-align: right;
	font-size: 8pt;
	font-weight: bold;
}

/*****************************************************************
 * PIE
 ****************************************************************/
#pie {
	clear: both;
	border-top: 3px solid #ACBECE;
	margin-top: 5px;
	width: 100%;
}

#copyright {
	color: #005BB0;
	padding-top: 5px;
	text-align: center;
	font-size: 7pt;
}

#logoInferior {
	float: right;
	background-repeat: no-repeat;
	background-position: right top;
	margin-top: 0px;
	margin-right: 0px;
}

/*****************************************************************
 * MENU APLICACION
 ****************************************************************/
#menuAplicacion {
	float: left;
	width: 250px;
	padding-top: 1px;
	padding-left: 1px;
	/* display: inline; */
	/* border-left: 1px solid #ccc; */
	position: relative;
}

/*****************************************************************
 * CONTENEDOR
 ****************************************************************/
#contenedor {
	
}

#titulo {
	border-top: #fff 1px solid;
	background-color: #ACBECE;
	padding: 2px 8px 2px 8px;
	height: 14px;
	font-size: 10pt;
	font-weight: bold;
}

#titulo-contenido {
	font-weight: bold;
	font-size: 14px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	color: #666;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

#contenido {
	margin-top: 10px;
	margin-left: 200px;
	margin-right: 10px;
	/* border-left: 1px solid #ccc; */
}

.formulario {
	border-collapse: collapse;
	width: 100%;
}

/*****************************************************************
 * VALIDACIONES
 ****************************************************************/
.item-required {
	color: red;
}

.centered {
	text-align: center;
}

.left {
	/* text-align: left; */
	float: left;
}

.right {
	/* text-align: right; */
	float: right;
}

.label1 {
	float: left;
	font: bold;
}

textarea {
	resize: none;
}

textarea[disabled],input[type="text"][disabled],input[type="password"][disabled],select[disabled] {
	color: #2E2E2E;
}

/*****************************************************************
 * ESTILOS BOTONES
 ****************************************************************/
.exportExcel {
	width: 16px;
	height: 16px;
	background: #ddd url(../img/exportExcel.gif) !important;
}

.exportPdf {
	width: 16px;
	height: 16px;
	background: #ddd url(../img/pdf.gif) !important;
}

.exportPdfMatricula {
	width: 16px;
	height: 16px;
	background: #ddd url(../img/icono01.png) !important;
}

/*****************************************************************
 * ESTILOS DE PRIMEFACES
 ****************************************************************/
.ui-widget {
	font-size: 0.9em!important;
}

.ui-selectonemenu-label {
	width: 100% !important;
}




TD.ToolBar {
	vertical-align: middle;
	text-align: left;
	padding: 0 0 5px;
}


.value {
    vertical-align: central;
    white-space: nowrap;
    padding: 0px;
    box-shadow:0 0 0 #8F8F8F inset;
    border-radius:3px 3px 3px 3px;
}


.label {
    text-align: right;
    vertical-align: central;
    horizontal-align:middle;
    margin-top: 10px; 
    width: 100px;
    white-space: nowrap;
    padding-right: 5px;
    height: 25px;
    font: bold;
    
}


#pieLogin {
	float: left;
	 background-image: url(../img/headerIcon01.png); 
	background-repeat: no-repeat;
	background-position: right top;
	width: 250px;
	height: 65px;
	margin-top: 5px;
	margin-left: 0px;
}

#Login {
    border: 5px #80bce1 solid;
    min-width: 500px;
    max-width: 1004 px;
    font-family: Helvetica, Arial;
    background: #FFFFFF;
	color: White;
	font-style: normal;
	font-size: small;
	width: 1004px;
}

#logoCabecera {
	float: left;
	 background-image: url(../img/headerIcon01.png); 
	background-repeat: no-repeat;
	background-position: right top;
	width: 250px;
	height: 65px;
	margin-top: 5px;
	margin-left: 0px;
}

#HeaderIcon3 {
	
	 background-image: url(../img/headerIcon03.png); 
	 height: 50px;
	 background-position: left top;
	 
	
	
}

#HeaderIcon2 {
	float: right;
	 background-image: url(../img/icono3.png); 
	background-repeat: no-repeat;
	background-position: right top;
	width: 300px;
	height: 70px;
	
}

#logoCabecera2 {
	
	float: left;
	 background-image: url(../img/headerIcon08.png); 
	background-repeat: no-repeat;
	background-position: right top;
	width: 65px;
	height: 65px;
	margin-top: 0px;
	margin-left: 0px;
}

#Header01 {
    border: 2px #80bce1 solid;
    border-radius: 5px;
	
}
#HeaderIcon4 {
	float: left;
	 background-image: url(../img/headerIcon04.png); 
	background-repeat: no-repeat;
	background-position: left top;
	width: 16px;
	height: 27px;
	margin-top: 5px;
	margin-left: 5px;
	vertical-align:middle;
}


#HeaderIcon4 {
	float: left;
	 background-image: url(../img/headerIcon04.png); 
	background-repeat: no-repeat;
	background-position: left top;
	width: 16px;
	height: 27px;
	margin-top: 5px;
	margin-left: 5px;
	vertical-align:middle;
}

#HeaderIcon5 {
	float: left;
	 background-image: url(../img/headerIcon05.png); 
	background-repeat: no-repeat;
	background-position: left top;
	width: 16px;
	height: 27px;
	margin-top: 5px;
	margin-left: 5px;
	vertical-align:middle;
}

#HeaderIcon6 {
	float: left;
	 background-image: url(../img/headerIcon06.png); 
	background-repeat: no-repeat;
	background-position: left top;
	width: 16px;
	height: 27px;
	margin-top: 5px;
	margin-left: 5px;
	vertical-align:middle;
}

#HeaderIcon7 {
	float: left;
	 background-image: url(../img/headerIcon07.png); 
	background-repeat: no-repeat;
	background-position: left top;
	width: 16px;
	height: 27px;
	margin-top: 5px;
	margin-left: 5px;
	vertical-align:middle;
}


.ui-top, .ui-top .ui-layout, .ui-top .ui-layout-bd, .ui-top .ui-layout-unit {
    background-image: none;
    background-color: #e6ecf0; 
      border: none;
      }
      
  
  
.ui-icon-delete{
    background-image: url("../img/eliminar.png") !important;
}

#tableStyle {
    border: 1px #949599 solid;
    min-width: 500px;
    max-width: 500 px;
    font-family: Helvetica, Arial;
    background: #FFFFFF;
	font-style: normal;
	font-size: small;
	width: 500px;
}

.ui-fieldset .ui-state-default {
    background: #FFE8EF;
}

#tableStyleRe {
    min-width: 600px;
    max-width: 600 px;
    background: #FFFFFF;
	width: 500px;
	
}


      
    